@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/utilities";

$width-height-sizes: (
     0:  0,
     5:  5%,
    10: 10%,
    15: 15%,
    20: 20%,
    //25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    //50: 50%,
    55: 55%,
    60: 60%,
    65: 65%,
    70: 70%,
    //75: 75%,
    80: 80%,
    85: 85%,
    90: 90%,
    95: 95%
);

$utilities: map-merge(
    $utilities, (
        "width": map-merge(
            map-get($utilities, "width"),
            ( 
                responsive: true,
                values: map-merge(
                    map-get(map-get($utilities, "width"), "values"),
                    $width-height-sizes,
                ),
            ),
        ),
        "height": map-merge(
            map-get($utilities, "height"),
            ( 
                responsive: true,
                values: map-merge(
                    map-get(map-get($utilities, "height"), "values"),
                    $width-height-sizes,
                ),
            ),
        ),
    )
);