<!-- Safari Tab Coloring
<meta name="theme-color" content="#{{ site.settings.colors.secondary }}">-->

<!-- OG data for homepage -->
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="https://tommymitchell.io/" />
<meta property="og:image:secure" content="https://tommymitchell.io/assets/img/share-img.png" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />

<!-- twitter data for homepage -->
<meta name="twitter:site" content="@chronotope" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:image" content="https://tommymitchell.github.io/assets/img/share-img.png" />
<meta name="twitter:description" content="{{ site.description }}" />